app/Config/database.php
/app/tmp
/plugins
/vendors
.DS_Store


app/webroot/js/ext-all.js
app/webroot/js/ext-all-dev.js
app/webroot/js/Bancha.js

app/webroot/css/resources/css
app/webroot/css/resources/themes