body {
    margin-top:40px;
    margin-left:20px;
    margin-bottom:5px;
}

p {
    margin-top:60px;
    margin-bottom:3px;
}

.uploaded-image {
    margin-left:80px;
}

.icon-add {
	background-image:url(../img/icons/add.png) ! important;
}
.icon-save {
	background-image:url(../img/icons/disk.png) ! important;
}
.icon-reset {
	background-image:url(../img/icons/arrow_undo.png) ! important;
}
.icon-upload {
	background-image:url(../img/icons/image_add.png) ! important;
}